
body{
  background: #f8c0e1;
  font-size: 14px;
  height: 500px;
}
h1{
  text-align: center;
  margin-top: 50px;
  
}
h2{
  padding-top: 50px;
  font-size: 40px;
}
#startBtn{
  background: #3498db;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  color:white;
  box-shadow: 0 3px 0 #28809b;
  width: 300px;
  margin-top: 10px;
  font-size: 25px;
}

#box{
  width: 100%;
  height: 300px;
  background-color: #a2cfec;
  position: absolute;
  top: 50px;

  /* right: 600px; */
  text-align: center;
  z-index: 66;
}
.container{
  width: 400px;
  margin: 8px auto;
  background: #fff;
  border-radius: 4px;
  padding: 16px;
  position: relative;
}

#question{
  margin-bottom: 16px;
  font-weight: bold;
}

#choices{
  list-style: none;
  padding: 0;
  margin-bottom: 16px;
}
#choices > li{
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
#choices > li:hover {
  background: #f8f8f8;
}
#choices > li.wrong{
  background: #d4edda;
  background-color: #c3e6cd;
  color:#155724;
  font-weight: bold;
}

#choices > li.wrong::after{
  content:'  ...ok';
}

#choices > li.correct{
  background: #d4edda;
  background-color: #c3e6cd;
  color:#155724;
  font-weight: bold;
}

#choices > li.correct::after{
  content:'  ...ok';
}

#btn,#result > a{
  background: #3498db;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  color:white;
  box-shadow: 0 4px 0 #28809b;
}

#btn.disabled{
  background: #ccc;
  box-shadow: 0 4px 0 #bbb;
  opacity: 0.7;
}

#result{
  position: absolute;
  width: 300px;
  background: #fff;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  top: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 4px;
  text-align: center;
  transition: 0.4s;
}

#result.hidden{
  transform: translateY(-500px);
}

#result > p{
  font-size: 24px;
}
#result > a{
  display: block;
  text-decoration: none;
}


.fadeout {
  animation : fadeOut 1s;
  animation-fill-mode: both;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


@media screen and (max-width: 959px) {
  /* 959px以下に適用されるCSS（タブレット用） */
  .container{
    width: 300px;

  }
  
  h2{
    font-size: 25px;
  }
  #startBtn{
    width: 250px;
    margin-top: 30px;
  }
  #box{
    width: 100%;
  }
  #result{
    width: 250px;
  }
  #result > p{
    font-size: 18px;
  }
}
@media screen and (max-width: 480px) {
  /* 480px以下に適用されるCSS（スマホ用） */
  .container{
    width: 300px;
  }
  h2{
    font-size: 25px;
  }
  #startBtn{
    width: 250px;
    margin-top: 30px;
  }
  #box{
    width: 100%;
  }
  #result{
    width: 250px;
  }
  #result > p{
    font-size: 18px;
  }
}
